extends ../layouts/base.pug

block content
  header.page-header.page-header--hidden-menu
    .page-header__wrapper
      .page-header__inner
        a.page-header__logo.logo
          | Device
        .page-header__row
          .page-header__col.page-header__col--left
            form.search
              input.search__field(type='search' placeholder='Поиск по сайту')
              button.search__submit(type='submit')
                | Найти
          .page-header__col.page-header__col--right
            ul.page-header__user-menu.user-menu
              li.user-menu__item
                a.user-menu__link.user-menu__link--login(href='#')
                  | Войти
              li.user-menu__item
                a.user-menu__link.user-menu__link--compare(href='#')
                  | Сравнить
              li.user-menu__item
                a.user-menu__link.user-menu__link--cart(href='#')
                  | Корзина
        nav.page-header__main-nav.main-nav
          .page-header__row
            .page-header__col.page-header__col--left
              ul.main-nav__list.main-nav__list--catalog
                li.main-nav__item
                  a.main-nav__link.main-nav__link--catalog(
                    href='catalog.html'
                  )
                    | Каталог товаров
                  ul.main-nav__list.main-nav__list--out
                    li
                      ul.main-nav__list.main-nav__list--lvl2
                        li
                          a.main-nav__link(href='#')
                            | Виртуальная реальность
                        li
                          a.main-nav__link(href='catalog.html')
                            | Моноподы для селфи
                        li
                          a.main-nav__link(href='#')
                            | Экшн-камеры
                    li
                      ul.main-nav__list.main-nav__list--lvl2
                        li
                          a.main-nav__link(href='#')
                            | Фитнес-браслеты
                        li
                          a.main-nav__link(href='#')
                            | Умные часы
                    li
                      ul.main-nav__list.main-nav__list--lvl2
                        li
                          a.main-nav__link(href='#')
                            | Квадрокоптеры
            .page-header__col.page-header__col--right
              ul.main-nav__list
                li.main-nav__item
                  a.main-nav__link(href='#')
                    | Доставка
                li.main-nav__item
                  a.main-nav__link(href='#')
                    | Гарантия
                li.main-nav__item
                  a.main-nav__link(href='#')
                    | Контакты
  main
    h1.visually-hidden
      | Device
    include ../components/promo.pug
    include ../components/popular.pug
    include ../components/services.pug
    include ../components/brands.pug
    include ../components/info.pug

  footer.page-footer
    .page-footer__wrapper
      .page-footer__row
        .page-footer__col-left
          a.page-footer__logo.logo
            | Device
        .page-footer__col-right
          ul.page-footer__user-menu.user-menu
            li.user-menu__item
              a.user-menu__link.user-menu__link--login(href='#')
                | Войти
            li.user-menu__item
              a.user-menu__link.user-menu__link--compare(href='#')
                | Сравнить
            li.user-menu__item
              a.user-menu__link.user-menu__link--cart(href='#')
                | Корзина
      .page-footer__row
        .page-footer__col-left
          address
            span.page-footer__address
              | г. Москва, ул. Строителей, 15
        .page-footer__col-center
          nav.page-footer__main-nav.main-nav
            ul.main-nav__list
              li.main-nav__item
                a.main-nav__link(href='#')
                  | Доставка
              li.main-nav__item
                a.main-nav__link(href='#')
                  | Гарантия
              li.main-nav__item
                a.main-nav__link(href='#')
                  | Контакты
        .page-footer__col-right
          address
            span.page-footer__phone
              | Тел.:
              |
              a.page-footer__phone-link(href='tel:+74954959595')
                | +7 (495) 495-95-95
      .page-footer__row
        .page-footer__col-left
          span.page-footer__line
        .page-footer__col-center
          ul.social-links
            li.social-links__item
              a.social-links__link.social-links__link--fb(
                href='#'
                target='_blank'
              )
                span
                  | Мы в Фейсбуке
            li.social-links__item
              a.social-links__link.social-links__link--in(
                href='#'
                target='_blank'
              )
                span
                  |  Мы в Инстаграмме
            li.social-links__item
              a.social-links__link.social-links__link--tw(
                href='#'
                target='_blank'
              )
                span
                  | Мы в Твиттере
        .page-footer__col-right
          a.page-footer__credit(
            href='https://htmlacademy.ru/intensive/htmlcss'
            target='_blank'
          )
            span
              | Разработано — htmlacademy.ru
            svg(width='27' height='35')
              use(xlink:href='img/symbols.svg#logo-html')
