section.brands
  .brands__wrapper
    h2.visually-hidden
      | Фирмы
    .brand__items
      a.brand__item(href='#' target='_blank')
        img(
          src='img/logo-brand-1.png'
          width='260'
          height='100'
          alt='DJI'
        )
      a.brand__item(href='#' target='_blank')
        img(
          src='img/logo-brand-2.png'
          width='260'
          height='100'
          alt='SP Gadgets'
        )
      a.brand__item(href='#' target='_blank')
        img(
          src='img/logo-brand-3.png'
          width='260'
          height='100'
          alt='GoPro'
        )
      a.brand__item(href='#' target='_blank')
        img(
          src='img/logo-brand-4.png'
          width='260'
          height='100'
          alt='Vive'
        )
