.promo
  .promo__wrapper
    h2.visually-hidden
      | Лучшее
    .promo__slider.slider-promo
      .slider-promo__item.slider-promo__item--active
        .slider-promo__img-container
          img(
            src='img/promo-slider-1.png'
            width='384'
            height='486'
            alt='Палка для селфи'
          )
        .slider-promo__content
          h3.slider-promo__title
            | Делай селфи, как Бен Стиллер!
          p.slider-promo__description
            | Самая длинная палка для селфи доступна в нашем магазине.
            | Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
          a.slider-promo__link.btn(href='#')
            | Подробнее
          table.slider-promo__table
            tr
              td
                | 8,5 м
              td
                | 5 кг
              td
                | Карбон
            tr
              th
                | Длина палки
              th
                | Вес палки
              th
                | Материал
          span.slider-promo__slide-number
            | 01
      .slider-promo__item
        .slider-promo__img-container
          img(
            src='img/promo-slider-2.png'
            width='345'
            height='485'
            alt='Фитнес-браслет'
          )
        .slider-promo__content
          h3.slider-promo__title
            | Худеем
            |
            br
            | правильно!
          p.slider-promo__description
            | Мотивирующие фитнес-браслеты помогут найти в себе силы не
            | пропускать занятия и соблюдать диету.
          a.slider-promo__link.btn(href='#')
            | Подробнее
          table.slider-promo__table
            tr
              td
                | 48 часов
            tr
              th
                | Без подзарядки
          span.slider-promo__slide-number
            | 02
      .slider-promo__item
        .slider-promo__img-container
          img(
            src='img/promo-slider-3.png'
            width='526'
            height='334'
            alt='Квадрокоптер'
          )
        .slider-promo__content
          h3.slider-promo__title
            | Порхает как бабочка, жалит как пчела!
          p.slider-promo__description
            | Этот обычный, на первый взгляд, квадрокоптер оснащен мощным
            | лазером, замаскированным под стандартную камеру.
          a.slider-promo__link.btn(href='#')
            | Подробнее
          table.slider-promo__table
            tr
              td
                | 800 м
              td
                | 50 м
            tr
              th
                | Дальность полета
              th
                | Радиус поражения
          span.slider-promo__slide-number
            | 03
      .slider__controls
        button.slider-promo__controls-item(type='button' disabled)
          span
            | 1
        button.slider-promo__controls-item(type='button')
          span
            | 2
        button.slider-promo__controls-item(type='button')
          span
            | 3
